html,
body {
  margin: 0;
  height: 100%;
  overflow: hidden;
}
*{
     font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
     font-weight: 300;
     color: #666666;
       -webkit-transition: 0.8s linear all;
  -moz-transition: 0.8s linear all;
  -ms-transition: 0.8s linear all;
  -o-transition: 0.8s linear all;
  transition: 0.8s linear all;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
p{
  text-align: center;
}
.right_side{
position: fixed;
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
    right: -48%;
z-index: 100;
width: 100%;
top: 50%;
}
.blue {
  background-color: #2cd7ff;
}

.pantone {
  position: relative;
  margin: auto;
  width: 200px;
  margin: auto;
}

.pantone_wrap_outer {
  position: fixed;
  width: 400px;
  padding: 1px;
  cursor: pointer;
}
.pantonebg{
position: fixed;
border: 10px solid white; 
width: -moz-calc(100% - 20px);
width: -webkit-calc(100% - 20px);
width: calc(100% - 20px);
height: -moz-calc(100% - 20px);
height: -webkit-calc(100% - 20px);
height: calc(100% - 20px);
}
.pantone_wrap_inner {
  position: relative;
  padding: 40px;
  margin: 40px;
  border: 2px solid white;
}
.right_side p{
left: 0;
position: absolute;
margin: 0;
width: 100%;
font-weight: 200;
}
.top_left_logo{
position: relative;
}
.top_left_logo img{
position: fixed;
top: 50px;
left: 50px;
}
.top_left_logo.white img{
position: absolute;
top: 24px;
left: 40px;
}
.nav{
  position: fixed;
  top: 50%;
}
.nav li{
list-style: none;}
.page_cont_wrap{
width: -moz-calc(100% - 20px);
width: -webkit-calc(100% - 20px);
width: calc(100% - 20px);
height: -moz-calc(100% - 20px);
height: -webkit-calc(100% - 20px);
height: calc(100% - 20px);
}
.right_side{}
.right_side p{}
.container {
  height: 100%;
}
.page_container {
  height: 98%;
  overflow: hidden;
}

#animacion {
  position: absolute;
  left: 20%;
  top: 20%;
}

#fase1 {
  position: fixed;
  top: 5%;
  left: 32%;
  margin: auto;
  min-height: 768px;
  max-width: 571px;
  min-width: 571px;
  display: block;
}

#fase2 {
  position: absolute;
}

#fase4 {
  position: absolute;
}

#fase3 {
  position: absolute;
}
.slide.ng-enter, .slide.ng-leave {
  -webkit-transition: 0.8s linear all;
  -moz-transition: 0.8s linear all;
  -ms-transition: 0.8s linear all;
  -o-transition: 0.8s linear all;
  transition: 0.8s linear all;
}
 
.slide.ng-enter {
  right: 3000px;
  position: absolute;
  width: 100%;
 }        /* starting animations for enter */
.slide.ng-enter-active {
  right: 0px;
  position: absolute;
  width: 100%; 
  } /* terminal animations for enter */
.slide.ng-leave {  
  left: 300px;
  position: absolute;
  width: 100%;
  }        /* starting animations for leave */
.slide.ng-leave-active { 
  left: 3000px;
  position: absolute;
  width: 100%;
  } /* terminal animations for leave */
/*
Pantone animation clean
*/
.pantoneani.ng-enter, .pantoneani.ng-leave {
  -webkit-transition: 1.4s cubic-bezier(0.175, 0.885, 0.32, 1.275) all;
  -moz-transition: 1.4s cubic-bezier(0.175, 0.885, 0.32, 1.275) all;
  -ms-transition: 1.4s cubic-bezier(0.175, 0.885, 0.32, 1.275) all;
  -o-transition: 1.4s cubic-bezier(0.175, 0.885, 0.32, 1.275) all;
  transition: 1.4s cubic-bezier(0.175, 0.885, 0.32, 1.275) all;
} 
.pantoneani.ng-enter {
  right: 3000px;
  position: absolute;
  width: 100%;
 }        /* starting animations for enter */
.pantoneani.ng-enter-active {
  right: 0px;
  position: absolute;
  width: 100%; 
  } /* terminal animations for enter */
.pantoneani.ng-leave {  
  left: 300px;
  position: absolute;
  width: 100%;
  }        /* starting animations for leave */
.pantoneani.ng-leave-active { 
  left: 3000px;
  position: absolute;
  width: 100%;
  } /* terminal animations for leave */
/*
Pantone animation next
*/
.next.ng-enter, .pantoneani.next.ng-leave {
  -webkit-transition: 1.4s cubic-bezier(0.175, 0.885, 0.32, 1.275) all;
  -moz-transition: 1.4s cubic-bezier(0.175, 0.885, 0.32, 1.275) all;
  -ms-transition: 1.4s cubic-bezier(0.175, 0.885, 0.32, 1.275) all;
  -o-transition: 1.4s cubic-bezier(0.175, 0.885, 0.32, 1.275) all;
  transition: 1.4s cubic-bezier(0.175, 0.885, 0.32, 1.275) all;
} 
.next.ng-enter {
  right: 3000px;
  position: absolute;
  width: 100%;
 }        /* starting animations for enter */
.next.ng-enter-active {
  right: 0px;
  position: absolute;
  width: 100%; 
  } /* terminal animations for enter */
.next.ng-leave {  
  left: 300px;
  position: absolute;
  width: 100%;
  }        /* starting animations for leave */
.next.ng-leave-active { 
  left: 3000px;
  position: absolute;
  width: 100%;
  } /* terminal animations for leave */
/*
Pantone animation prev
*/
.prev.ng-enter, .pantoneani.prev.ng-leave {
  -webkit-transition: 1.4s cubic-bezier(0.175, 0.885, 0.32, 1.275) all;
  -moz-transition: 1.4s cubic-bezier(0.175, 0.885, 0.32, 1.275) all;
  -ms-transition: 1.4s cubic-bezier(0.175, 0.885, 0.32, 1.275) all;
  -o-transition: 1.4s cubic-bezier(0.175, 0.885, 0.32, 1.275) all;
  transition: 1.4s cubic-bezier(0.175, 0.885, 0.32, 1.275) all;
} 
.prev.ng-enter {
  left: 3000px;
  position: absolute;
  width: 100%;
 }        /* starting animations for enter */
.prev.ng-enter-active {
  left: 0px;
  position: absolute;
  width: 100%; 
  } /* terminal animations for enter */
.prev.ng-leave {  
  right: 300px;
  position: absolute;
  width: 100%;
  }        /* starting animations for leave */
.prev.ng-leave-active { 
  right: 3000px;
  position: absolute;
  width: 100%;
  } /* terminal animations for leave */
  .pantone_text{
color: white;
width: 50%;
margin: auto;
font-size: 30px;
margin-top: 15%;
margin-bottom: 15%;
position: absolute;
margin-left: 25%;
margin-right: 25%;
  }
    .pantone_text p{
      color: white;
    }
.pantone_head{
  color: white;
  text-align: center;
}
.pantone_head span{
  color: white;
  font-style: italic;
}