html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */

/*END REST*/

html,
body {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

p {
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  color: #666666;
}

.right_side {
  position: absolute;
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  z-index: 999999999;
  width: 100%;
  top: 50%;
  top: calc(50% + 10px);
  height: auto;
  right: 50%;
  right: calc(-50% + 20px);
}

.right_side p {
  transition: 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275) all;
  left: 0;
  position: relative;
  margin: 0;
  font-weight: 200;
  font-style: italic;
  color: white;
}

.blue {
  background-color: #74d2ff;
}

.green {
  background-color: #6fffc7;
}

.red {
  background-color: #ff6969;
}

.yellow {
  background-color: #ffd74b;
}

.black {
  background-color: black;
}

/*
  Pantone inner text
  */

.row_pantone {
  width: 50%;
  margin: auto;
  display: block;
  max-width: 500px;
  max-height: 250px;
}

.pantone_text {
  color: white;
  width: 50%;
  margin: auto;
  font-size: 16px;
  margin-bottom: 20px;
  line-height: 27px;
}

.pantone_head {
  font-family: "Calisto MT", "Bookman Old Style", Bookman, "Goudy Old Style", Garamond, "Hoefler Text", "Bitstream Charter", Georgia, serif;
  color: white;
  font-style: italic;
  margin-bottom: 20px;
  font-size: 90px;
  font-weight: 200;
}

.pantone_head_sub {
  font-family: "Calisto MT", "Bookman Old Style", Bookman, "Goudy Old Style", Garamond, "Hoefler Text", "Bitstream Charter", Georgia, serif;
  color: white;
  font-style: italic;
  margin-bottom: 20px;
  font-size: 31px;
  font-weight: 200;
}

.pantones_home a {
  display: block;
  width: 100%;
  height: 100%;
}

.pantones_home {
  width: 49%;
  display: inline-block;
  vertical-align: top;
  max-width: 250px;
  max-height: 250px;
  transition: 1.4s cubic-bezier(0.175, 0.885, 0.32, 1.275) all;
}

/*https://github.com/iameugenejo/angular-centered/angular-centered.css*/

.angular-center-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: table;
  z-index: 9999;
}

.angular-centered {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.pantone_wrap_outer img {
  margin: auto;
  display: block;
}

.pantone_wrap_outer {
  padding: 40px;
}

.pantonebg {
  position: fixed;
  border: 0;
  width: 98%;
  width: calc(100% - 20px);
  height: 98%;
  height: calc(100% - 20px);
  z-index: 100;
}

.pantone_wrap_inner {
  position: relative;
}

.top_left_logo {
  position: relative;
  z-index: 99999;
}

.top_left_logo img {
  position: fixed;
  top: 24px;
  left: 40px;
}

.top_left_logo.white img {
  position: fixed;
  top: 24px;
  left: 40px;
}

.page_cont_wrap {
  width: 100%;
  width: calc(100% - 20px);
  height: 100%;
  height: calc(100% - 20px);
}

.container {
  height: 100%;
}

.page_container {
  height: 98%;
  overflow: hidden;
}

#animacion {
  position: absolute;
  left: 20%;
  top: 20%;
}

#fase1 {
  position: fixed;
  top: 5%;
  left: 32%;
  margin: auto;
  min-height: 768px;
  max-width: 571px;
  min-width: 571px;
  display: block;
}

#fase2 {
  position: absolute;
}

#fase4 {
  position: absolute;
}

#fase3 {
  position: absolute;
}

.slide.ng-enter,
.slide.ng-leave {
  transition: 0.8s linear all;
}

.slide.ng-enter {
  right: 3000px;
  position: absolute;
  width: 100%;
}

/* starting animations for enter */

.slide.ng-enter-active {
  right: 0;
  position: absolute;
  width: 100%;
}

/* terminal animations for enter */

.slide.ng-leave {
  left: 300px;
  position: absolute;
  width: 100%;
}

/* starting animations for leave */

.slide.ng-leave-active {
  left: 3000px;
  position: absolute;
  width: 100%;
}

/* terminal animations for leave */

/*
Pantone animation next
*/

.next.ng-enter,
.next.ng-leave {
  transition: 1.4s cubic-bezier(0.175, 0.885, 0.32, 1.275) all;
}

.next.ng-enter .angular-center-container {
  position: absolute;
}

.next.ng-enter {
  right: 100%;
  top: 10px;
  position: absolute;
  z-index: 100;
}

.next.ng-enter-active {
  right: 0;
  top: 10px;
  position: absolute;
  z-index: 100;
}

.next.ng-leave {
  left: 10px;
  right: 10px;
  top: 10px;
  position: absolute;
  z-index: 1;
}

.next.ng-leave-active {
  left: 10px;
  right: 10px;
  top: 10px;
  position: absolute;
  z-index: 1;
}

/*
Pantone animation prev
*/

.prev.ng-enter,
.prev.ng-leave {
  transition: 1.4s cubic-bezier(0.175, 0.885, 0.32, 1.275) all;
}

.prev.ng-enter {
  left: 100%;
  top: 10px;
  position: absolute;
  z-index: 100;
}

/* starting animations for enter */

.prev.ng-enter-active {
  left: 1%;
  top: 10px;
  position: absolute;
}

/* terminal animations for enter */

.prev.ng-leave {
  left: 10px;
  top: 10px;
  right: 10px;
  position: absolute;
  z-index: 1;
}

/* starting animations for leave */

.prev.ng-leave-active {
  left: 10px;
  top: 10px;
  right: 10px;
  position: absolute;
  z-index: 1;
}

/*
SIDE MENU
*/

.togglenav toggle-nav {
  display: block;
}

.togglenav {
  position: fixed;
  top: 50%;
  z-index: 999999;
  left: 10%;
  left: calc(10% + 10px);
  cursor: pointer;
}

.row {
  float: left;
}

.togglenav .line {
  width: 15px;
  height: 15px;
  border-radius: 0;
  margin: 0;
  border: 1px solid white;
  transition: 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275) all;
}

.line.one {
  border-right: 0;
}

.line.two {
  border-right: 0;
  border-top: 0;
}

.line.three {
  border-bottom: 0;
}

.nav ul {
  padding: 0;
  display: block;
  margin: auto;
  width: 100%;
  text-align: center;
}

.nav {
  position: fixed;
  height: 99%;
  height: calc(100% - 20px);
  top: 10%;
  top: calc(0 + 10px);
  bottom: 0;
  bottom: calc(0 + 10px);
  left: 0;
  left: calc(0 + 10px);
  margin: 0;
  padding: 0;
  width: 29%;
  width: calc(100% - 20px);
  background-color: #ffffff;
}

.nav ul li a {
  font-size: 3em;
  text-decoration: none;
  text-transform: lowercase;
  text-shadow: 3px 4px 0 white;
  margin: auto;
  display: block;
  transition: 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275) all;
}

.nav ul li a:hover {
  text-shadow: 0 0 0 white;
}

.nav li {
  list-style: none;
  width: 100%;
  margin: auto;
}

.pantone_wrap_outer.ng-animate {
  transition: 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275) all;
}

.pantone_wrap_outer.ng-leave {
  width: 250px;
  height: 250px;
}

.pantone_wrap_outer.ng-leave-active {
  width: 0;
  height: 0;
  left: -10%;
}

.top_left_logo.ng-enter {
  -webkit-animation-name: rollIn;
  animation-name: rollIn;
}

.inner_patone img {
  max-width: 100%;
  min-width: 114px;
}

home.inner_patone {
  display: block;
}

home.inner_patone img {
  width: 100%;
}

home.inner_patone.ng-enter,
home.inner_patone.ng-enter .pantone_wrap_outer,
home.inner_patone.ng-enter .pantone_wrap_outer img {
  transition: 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275) all;
}

home.inner_patone.ng-enter {
  display: block;
  top: 0;
  z-index: 999999;
  left: 0;
  left: calc(0 + 10px);
  cursor: pointer;
  height: 15px;
  width: 15px;
}

home.inner_patone.ng-enter .pantone_wrap_outer {
  padding: 0;
}

home.inner_patone.ng-enter.ng-enter-active .pantone_wrap_outer {
  padding: 40px;
}

home.inner_patone.ng-enter img {
  opacity: 0;
}

home.inner_patone.ng-enter.ng-enter-active img {
  opacity: 1;
}

home.inner_patone.ng-enter.ng-enter-active {
  display: block;
  top: 25%;
  z-index: 999999;
  left: 25%;
  left: calc(25% + 10px);
  cursor: pointer;
  height: 250px;
  width: 245px;
}

projects.inner_patone {
  display: block;
}

projects.inner_patone.ng-enter,
projects.inner_patone.ng-enter .pantone_wrap_outer {
  transition: 0.8s  all;
}

projects.inner_patone.ng-enter {
  display: block;
  top: 50%;
  z-index: 999999;
  left: 10%;
  left: calc(10% + 10px);
  cursor: pointer;
  height: 15px;
  width: 15px;
}

projects.inner_patone.ng-enter .pantone_wrap_outer {
  padding: 0;
}

projects.inner_patone.ng-enter.ng-enter-active .pantone_wrap_outer {
  padding: 40px;
}

projects.inner_patone.ng-enter img {
  opacity: 0;
}

projects.inner_patone.ng-enter.ng-enter-active img {
  opacity: 1;
}

projects.inner_patone.ng-enter.ng-enter-active {
  display: block;
  top: 25%;
  z-index: 999999;
  left: 50%;
  left: calc(50% + 10px);
  cursor: pointer;
  height: 250px;
  width: 245px;
}

about.inner_patone {
  display: block;
}

about.inner_patone.ng-enter,
about.inner_patone.ng-enter .pantone_wrap_outer {
  transition: 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275) all;
}

about.inner_patone.ng-enter {
  display: block;
  top: 50%;
  z-index: 999999;
  left: 10%;
  left: calc(10% + 10px);
  cursor: pointer;
  height: 15px;
  width: 15px;
}

about.inner_patone.ng-enter .pantone_wrap_outer {
  padding: 0;
}

about.inner_patone.ng-enter.ng-enter-active .pantone_wrap_outer {
  padding: 40px;
}

about.inner_patone.ng-enter img {
  opacity: 0;
}

about.inner_patone.ng-enter.ng-enter-active img {
  opacity: 1;
}

about.inner_patone.ng-enter.ng-enter-active {
  display: block;
  top: 50%;
  z-index: 999999;
  left: 50%;
  left: calc(50% + 10px);
  cursor: pointer;
  height: 250px;
  width: 245px;
}

contact.inner_patone {
  display: block;
}

contact.inner_patone.ng-enter,
contact.inner_patone.ng-enter .pantone_wrap_outer {
  transition: 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275) all;
}

contact.inner_patone.ng-enter {
  display: block;
  top: 50%;
  z-index: 999999;
  left: 10%;
  left: calc(10% + 10px);
  cursor: pointer;
  height: 15px;
  width: 15px;
}

contact.inner_patone.ng-enter .pantone_wrap_outer {
  padding: 0;
}

contact.inner_patone.ng-enter.ng-enter-active .pantone_wrap_outer {
  padding: 40px;
}

contact.inner_patone.ng-enter img {
  opacity: 0;
}

contact.inner_patone.ng-enter.ng-enter-active img {
  opacity: 1;
}

contact.inner_patone.ng-enter.ng-enter-active {
  display: block;
  top: 50%;
  z-index: 999999;
  left: 25%;
  left: calc(25% + 10px);
  cursor: pointer;
  height: 250px;
  width: 245px;
}

.pantone_wrap_outer.ng-leave {
  transition: 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275) all;
}

.pantone_wrap_outer.ng-leave {
  opacity: 1;
}

.pantone_wrap_outer.ng-leave.ng-leave-active {
  opacity: 0;
}

.right_side p.gray {
  color: #737373;
  transition: 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275) all;
}

.arrowswrap {
  display: block;
  width: 84px;
  height: 35px;
  margin: auto;
  top: 98%;
  top: calc(100% - 50px);
  left: 50%;
  left: calc(50% - 44px);
  position: fixed;
  z-index: 9999999;
}

.arrws {
  background-image: url('../images/arrws.png');
  background-repeat: no-repeat;
  width: 39px;
  height: 33px;
  display: inline-block;
  cursor: pointer;
  z-index: 1;
}

.arrws.prev {
  background-position: 0 0;
}

.arrws.next {
  background-position: -42px 0;
}

.introLogo {
  margin-bottom: 55px;
}

.closeX {
  display: block;
  cursor: pointer;
  z-index: 999999999;
  position: fixed;
}

.closeX .line {
  display: block;
  border: 1px solid #737373;
}

.closeX .line.one {
  background-color: #F0F8FF;
  background-color: rgba(240, 248, 255, 0);
  border-right: 0;
}

.closeX .line.two {
  background-color: #F0F8FF;
  background-color: rgba(240, 248, 255, 0);
  border-right: 0;
  border-top: 0;
}

.closeX .line.three {
  background-color: #F0F8FF;
  background-color: rgba(240, 248, 255, 0);
  border-bottom: 0;
}

.closeX .line.four {
  background-color: #F0F8FF;
  background-color: rgba(240, 248, 255, 0);
}

.line.one {
  background-color: #74d2ff;
}

.line.two {
  background-color: #ffd74b;
}

.line.three {
  background-color: #6fffc7;
}

.line.four {
  background-color: #ff6969;
}