<header>
	<a ng-href="#" class="top_left_logo"><img src="images/logo.png" alt="BAWD Logo"></a>
</header>
              <div class="togglenav">
				<toggle-nav>
				</toggle-nav>	
			</div>
<section class="pantones_home">
	<a ng-click="closemenulink(element)"  ng-href="#/home"><home></home></a>
</section>
<section class="pantones_home">
	<a ng-click="closemenulink(element)"  ng-href="#/project"><projects></projects></a>
</section>
<section class="pantones_home">
	<a ng-click="closemenulink(element)"  ng-href="#/contact"><contact></contact></a>
</section>
<section class="pantones_home">
	<a ng-click="closemenulink(element)"  ng-href="#/about"><about></about></a>
</section>
<section class="right_side"><p>Build a Web doctor</p></section>