<div mainmenudir>
	<p ng-click="closemenu()" class="closeX">X</p>
	<section class="pantones_home">
		<a ng-click="closemenulink(element)"  ng-href="#/home"><home></home></a>
	</section>
	<section class="pantones_home">
		<a ng-click="closemenulink(element)"  ng-href="#/project"><projects></projects></a>
	</section>
	<section class="pantones_home">
		<a ng-click="closemenulink(element)"  ng-href="#/about"><about></about></a>
	</section>
	<section class="pantones_home">
		<a ng-click="closemenulink(element)"  ng-href="#/contact"><contact></contact></a>
	</section>
</div>