<pantone-menu></pantone-menu>
	<centered ng-class="PrevNext">
		<h1 ng-class="PrevNext">WD</h1>
		<h5 ng-class="PrevNext">Web developement</h5>
<p ng-class="PrevNext" class="pantone_text">BAWD integrates a multi-stage, personal approach to web development, the first step in the right direction on your business’ path to success.</p>
<p ng-class="PrevNext" class="pantone_text">Our approach is based on the fusion of expert understanding of each company’s goals and aspirations, websites that are built to the latest industry standards, and fresh, young, uncomplicated design.</p>
</centered>